body {
  font-family: arial;
  font-size: 14px;
  background-color: #eee;
}
h1 {
  background-color: maroon;
  color: white;
  text-align: center;
}
h2 {
  border-left: 6px solid blue;
  background-color: lightblue;
  padding-left: 10px;
}
p {
  color: gray;
  margin-bottom: 25px;
}
#extra {
  font-weight: 700;
  color: black;
}
.lijntje {
  font-weight: 700;
  text-decoration: underline;
}
